.widget-circle{
	width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    color: white;
    margin-bottom: 15px;
	transition: width 0.6s, height 0.6s;
	animation: spin-animation 1s;

}

.widget-circle svg{
	margin: auto;
}

.widget-circle:hover{
	color: white;
	width: 55px;
	height: 55px;
}

.widget-skype{
	background: rgb(0, 175, 240);
}

.widget-insta{
	background: rgb(245, 118, 140);
}

.widget-messenger{
	background: rgb(0, 106, 255);
}

.widget-twitter{
	background: rgb(0, 172, 238);
}

.widget-whatsapp{
	background: #4dc247;
}

.widget-call {
	background: #ff8d00cf;
}

#widgetsContainer ul li {
	list-style: none;
}

.widget-caret{
	background: #02080a;
	border-radius: 50%;
}

.widget-caret:hover{
	background: #02080abd;
}

.icn-spinner {
	animation: spin-animation 0.5s;
	display: inline-block;
}


.widgets-list {
	animation: spin-animation-list 0.5s;
}

@keyframes spin-animation-list {
	0% {
		margin-bottom: 0%;
	  }
	  100% {
		margin-bottom: 18%;
	  }
  }

@keyframes spin-animation {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(359deg);
	}
  }